/* ***************************************universal start******************************************* */
html{
	scroll-behavior: smooth;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}
a:hover{
	text-decoration: none;
}
li{
	list-style: none;
}
p{

}
h2 , .servicediv h2 , .names h1 {
	font-size: 0.9rem;
	margin: 20px 0 15px 0;
	font-weight: bold;
	line-height: 1.1;
	word-spacing: 4px;
}
i{
	color: #2fccd0;
}

/* ********************************************preloder************************************* */
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: lightgrey;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 555;
}

.disppear{
  animation: vanish 2s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}
/* ********************************************preloder************************************* */

/* ***************************************universal end******************************************* */


/* ********************************header start************************************************** */
.menu-icon-bar{
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  border-radius: 50px;
  top: 9px;
}
.header{
  width: 100%;
  height: 100vh;
  background-image:url(../img/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(100% 0%, 100% 77%, 50% 100%, 0 75%, 0 0);
  z-index: 8;
}
.header:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.navbar:before{
	content: "";
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0;
    right: 0;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right, #1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
}
.nav-item a{
   color: #ffffff!important;
   font-weight: bold;
}
.header-sec{
	width: 100%;
	height: inherit;
	color: #ffffff;
	text-align: center;
	position: relative;
}
.center-div{
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); 
	-webkit-transform: translate(-50%, -50%); 
}
.center-div h1{
	font-size: 3rem;
}
.header-buttons a{
    border: 1px solid #ffffff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: white;
    font-size: 1rem; 
}
.header-buttons a:hover{
	color: #50d1c0;
	background: #ffffff;
	text-decoration: none;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.center-div p{
	font-size: 1.3rem;
	padding: 10px 0 20px 0;
	color: white;
}
/* ********************************header end************************************************** */
/* ********************************header extra start************************************************** */
.header-extradiv{
	width: 100%;
	height: auto;
	margin: 100px 0;
	text-align: center;
}
.extra-div{
	background: #ffffff;
	border: medium none;
	padding: 50px!important;
	border-radius: 3px;
	transition: 0.3s;
}
.extra-div:hover{
   box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
   transform: translateY(-20px);
}
/* ********************************header extra end************************************************** */
/* ***************************************SKILLS START************************************************ */
.serviceoffers{
	background-color: #f7f7f9;
	padding: 50px 0;
	margin-bottom: 50px;
}
.headings{
	margin-bottom: 50px;
}
.headings h1{
   font-size: 1.5rem;
   font-weight: 600;
   text-transform: uppercase;
}
.names h1{
	color: #2e2e2e;
	font-size: 1.6rem;
	text-transform: uppercase;
	font-weight: bold;
}
.service-icons{
   display: flex;
   justify-content: center;
   align-items: center;

}
.progress{
	height: 0.6rem!important;
	margin-bottom: 25px!important; 
	background-color: #606060;
}

/* ***************************************SKILLS END************************************************ */
 /* ***********************************contact us start***************************************** */
 .contactus{
 	width: 100%;
 	height: 100vh;
 	padding: 80px 0;
    position: relative;
 }
 .contactus:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(330deg,#16c9f6 55%, #ffffff 0%) ;
    z-index: -9;
 }
.form-button button{
   border-radius: 100px;
   border: 1px solid #50d1c0 ;
   color: #50d1c0;
   padding: 12px 35px;
   outline: none;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.4;
   text-align: center;
   margin: 0 5px;
   background: transparent;
 }
 .form-button button:hover{
     color: #50d1c0;
 }
  form:hover  .form-button button{
   background-color: #ffffff;
     color: #50d1c0;
     box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
::placeholder{
	font-size: 0.85rem;
	font-family: 'Merriweather', serif;
}
/* ***********************************contact us end**************************************** */
/* ***********************************Footer start**************************************** */
.footer-sec{
  width: 100%;
  height: auto;
  padding: 70px 0 20px 0;
  background: #00abff;
  position: relative;
}
.footer-sec p{
    color: #ffffff;
}
.footer-sec li a {
   font-size: 0.9rem;
   line-height: 1.6;
   font-weight: 400;
   color: #ffffff;
   text-transform: capitalize;
   text-align: center;
}
.footer-sec h3{
   text-transform: uppercase;
   color: #ffffff;
   margin-bottom: 25px;
   font-size: 1.2rem!important;
   font-weight: 600;
   text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)

}
/* ***********************************Footer end**************************************** */
#myBtn{
	display: block;
	position: fixed;
	bottom: 20px;
	right: 40px;
	z-index: 888884598484;
	border: none;
	color: #ffffff;
	background-color: #00abff;
	padding: 10px;
	border-radius: 10px;
}
#myBtn:hover{
	background: #606060;
}


@media(max-width: 768px){
	.nav-item{
     text-align: center!important;

	}
	.contactus{
		height: auto;
		margin-top: 50px; 
	}
	.contactus p{
		padding: 0 50px;
	}
	.footer-div:nth-child(2){
        text-align: left!important;
	}
	.footer-div{
      margin: 30px 0;
	}
}